body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 50PX;
    width: 100%;
    background-color: aqua;
    color: black;
    text-align: end;
    display: inline;
    list-style-type: none;
    position: sticky;
    

    }
    .container{
        height: 200px;
        width: 100px;
        background-color: antiquewhite;
        border: 2px solid brown;
        column-gap: 10px;
    }
    .main{
        height: 300px;
        width: 100px;
        background-color: antiquewhite;
        border: 2px solid black;
    }
  
    .mean{
        height: 200px;
        width: 100px;
        background-color: antiquewhite;
        border: 2px solid brown;

    }
  
    